{% extends "base.html" %}
{% block title %}Admin Dashboard - Employee Track{% endblock %}

{% block csslinks %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="/static/plugins/simplebar/simplebar.css" rel="stylesheet" />
<link href="/static/plugins/nprogress/nprogress.css" rel="stylesheet" />
<link href="/static/plugins/data-tables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link id="sleek-css" rel="stylesheet" href="/static/css/sleek.css" />
<link href="/static/img/favicon.png" rel="shortcut icon" />
<script src="/static/plugins/nprogress/nprogress.js"></script>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-header card-header-border-bottom d-flex justify-content-between">
            <h2>Employee Management</h2>
            <button class="btn btn-primary" id="addEmployeeBtn">Add Employee</button>
          </div>
          <div class="card-body" id="employeeList">
            {% include 'employee_list.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Employee Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Employee</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" id="employeeFormContainer">
        <!-- Form will be loaded here -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jslinks %}
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/plugins/simplebar/simplebar.min.js"></script>
<script src="/static/plugins/data-tables/jquery.datatables.min.js"></script>
<script src="/static/plugins/data-tables/datatables.bootstrap4.min.js"></script>
<script src="/static/js/sleek.js"></script>
<script>
$(document).ready(function() {
    var table = $('#employees-table').DataTable({
        "pageLength": 10,
        "order": [[ 0, "asc" ]]
    });

    // Load employee form in modal
    $('#addEmployeeBtn').click(function() {
        $.get('/admin/employee/new', function(response) {
            if(response.status === 'form') {
                $('#employeeFormContainer').html(response.html);
                $('#employeeModal').modal('show');
            }
        });
    });

    // Handle employee form submission
    $(document).on('submit', '#employeeForm', function(e) {
        e.preventDefault();
        $.ajax({
            url: '/admin/employee/new',
            type: 'POST',
            data: $(this).serialize(),
            success: function(response) {
                if(response.status === 'success') {
                    $('#employeeModal').modal('hide');
                    $('#employeeList').html(response.html);
                    table.destroy();
                    table = $('#employees-table').DataTable({
                        "pageLength": 10,
                        "order": [[ 0, "asc" ]]
                    });
                } else if(response.status === 'form') {
                    $('#employeeFormContainer').html(response.html);
                }
            }
        });
    });

    // Handle employee deletion
    $(document).on('click', '.delete-employee', function(e) {
        e.preventDefault();
        if(confirm('Are you sure you want to delete this employee?')) {
            var url = $(this).attr('href');
            $.post(url, { csrf_token: '{{ csrf_token() }}' }, function(response) {
                if(response.status === 'success') {
                    $('#employeeList').html(response.html);
                    table.destroy();
                    table = $('#employees-table').DataTable({
                        "pageLength": 10,
                        "order": [[ 0, "asc" ]]
                    });
                } else {
                    alert(response.message);
                }
            });
        }
    });
});
</script>
{% endblock %}
