{% extends "base.html" %}
{% block title %}Change Password - Employee Track{% endblock %}

{% block csslinks %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="/static/plugins/simplebar/simplebar.css" rel="stylesheet" />
<link href="/static/plugins/nprogress/nprogress.css" rel="stylesheet" />
<link id="sleek-css" rel="stylesheet" href="/static/css/sleek.css" />
<link href="/static/img/favicon.png" rel="shortcut icon" />
<script src="/static/plugins/nprogress/nprogress.js"></script>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card card-default">
          <div class="card-header card-header-border-bottom">
            <h2>Change Password</h2>
          </div>
          <div class="card-body">
            <form method="POST">
              {{ form.hidden_tag() }}
              
              <div class="form-group">
                {{ form.old_password.label(class="form-label") }}
                {{ form.old_password(class="form-control") }}
                {% for error in form.old_password.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
              </div>

              <div class="form-group">
                {{ form.new_password.label(class="form-label") }}
                {{ form.new_password(class="form-control") }}
                {% for error in form.new_password.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <small class="form-text text-muted">Password must be at least 8 characters long.</small>
              </div>

              <div class="form-group">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
              </div>

              <div class="form-group text-right">
                <a href="{{ url_for('profile') }}" class="btn btn-secondary">Cancel</a>
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jslinks %}
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/plugins/simplebar/simplebar.min.js"></script>
<script src="/static/js/sleek.js"></script>
{% endblock %}