{% extends "base.html" %}
{% block title %}Employee Attendance - Employee Track{% endblock %}

{% block csslinks %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
<link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="/static/plugins/simplebar/simplebar.css" rel="stylesheet" />
<link href="/static/plugins/nprogress/nprogress.css" rel="stylesheet" />
<link href="/static/plugins/data-tables/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link id="sleek-css" rel="stylesheet" href="/static/css/sleek.css" />
<link href="/static/img/favicon.png" rel="shortcut icon" />
<script src="/static/plugins/nprogress/nprogress.js"></script>
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-header card-header-border-bottom">
            <h2>
              <a href="{{ url_for('view_employee_profile', employee_id=employee.id) }}" class="text-decoration-none">
                {% if employee.profile_picture %}
                <img src="/static/profile_pics/{{ employee.profile_picture }}" alt="profile" class="rounded-circle mr-2" width="40">
                {% else %}
                <img src="/static/noimage.svg" alt="profile" class="rounded-circle mr-2" width="40">
                {% endif %}
                {{ employee.name }}'s Attendance
              </a>
            </h2>
          </div>
          <div class="card-body">
            <!-- Attendance Statistics -->
            <div class="row mb-4">
              <div class="col-md-3">
                <div class="card card-mini">
                  <div class="card-body">
                    <h6 class="mb-3">Present Days</h6>
                    <h2>{{ attendances|length }}</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-mini">
                  <div class="card-body">
                    <h6 class="mb-3">On Time</h6>
                    {% set cutoff = '09:00:00'|time %}
                    <h2>{{ attendances|selectattr('time_in')|selectattr('time_in', 'le', cutoff)|list|length }}</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-mini">
                  <div class="card-body">
                    <h6 class="mb-3">Late</h6>
                    <h2>{{ attendances|selectattr('time_in')|selectattr('time_in', 'gt', cutoff)|list|length }}</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card card-mini">
                  <div class="card-body">
                    <h6 class="mb-3">Absent</h6>
                    <h2>{{ attendances|rejectattr('time_in')|list|length }}</h2>
                  </div>
                </div>
              </div>
            </div>

            <!-- Attendance Table -->
            <div class="table-responsive">
              <table id="attendance-table" class="table table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time In</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for attendance in attendances %}
                  <tr>
                    <td>{{ attendance.date.strftime('%Y-%m-%d') }}</td>
                    <td>
                      {% if attendance.time_in %}
                        <span class="{% if attendance.time_in.strftime('%H:%M:%S') > '09:00:00' %}text-danger{% endif %}">
                          {{ attendance.time_in.strftime('%H:%M:%S') }}
                        </span>
                      {% else %}
                        Not Marked
                      {% endif %}
                    </td>
                    <td>
                      {% if attendance.time_in %}
                        <span class="badge badge-success">Present</span>
                      {% else %}
                        <span class="badge badge-danger">Absent</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jslinks %}
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/plugins/simplebar/simplebar.min.js"></script>
<script src="/static/plugins/data-tables/jquery.datatables.min.js"></script>
<script src="/static/plugins/data-tables/datatables.bootstrap4.min.js"></script>
<script src="/static/js/sleek.js"></script>
<script>
$(document).ready(function() {
    $('#attendance-table').DataTable({
        "order": [[ 0, "desc" ]],
        "pageLength": 10
    });
});
</script>
{% endblock %}