<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Employee Login - Digipodium</title>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />

  <!-- PLUGINS CSS STYLE -->
  <link href="/static/plugins/nprogress/nprogress.css" rel="stylesheet" />

  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="/static/css/sleek.css" />

  <!-- FAVICON -->
  <link href="/static/img/favicon.png" rel="shortcut icon" />

  <script src="/static/plugins/nprogress/nprogress.js"></script>
</head>

<body class="bg-light-gray" id="body">
  <div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="app-brand">
              <a href="/">
                <span class="brand-name text-white">Digipodium</span>
              </a>
            </div>
          </div>

          <div class="card-body p-5">
            <h4 class="text-dark mb-5">Sign In</h4>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <form method="POST" action="">
              {{ form.hidden_tag() }}
              
              <div class="row">
                <div class="form-group col-md-12 mb-4">
                  {{ form.employee_id(class="form-control input-lg") }}
                  {% for error in form.employee_id.errors %}
                  <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>

                <div class="form-group col-md-12 ">
                  {{ form.password(class="form-control input-lg") }}
                  {% for error in form.password.errors %}
                  <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                </div>

                <div class="col-md-12">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="custom-control custom-checkbox mr-3 mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label" for="customCheck2">Remember me</label>
                    </div>
                  </div>

                  {{ form.submit(class="btn btn-lg btn-primary btn-block mb-4") }}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/plugins/jquery/jquery.min.js"></script>
  <script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/sleek.js"></script>
</body>
</html>